.intro {
  display: flex;
  gap: 40px;
}

.image {
  position: relative;
  height: 70%;
  width: 70%;
}

.brief {
  padding: 20px;
  font-size: 30px;
  background-color: #e2d9b8;
  color: $color-darkblue4;
}

.title {
  display: flex;
  font-size: 60px;
  font-weight: 500;
  font-family: mavka;
}

// .info {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   gap: 40px;
//   align-items: center;
//   justify-content: center;
// }
