.hoverable {
  transition: all 0.4s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
  }
}

.showcase {
  display: flex;
  gap: 20px;
  height: calc(100dvh - $header-height);
}

.photos {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 10px;
}

.mainImage {
  height: 70%;
}

.thumbs {
  height: 28%;
  display: flex;
  gap: 10px;
}

.thumb {
  box-sizing: content-box;
  width: 33%;
  border: 1px solid $color-sand;
}

.about {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 40px;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
}

.details {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 60%;
  white-space: pre-wrap;
  line-height: 1.5;
  text-shadow: $color-darkblue4 3px 2px 3px;
}

.order {
  width: 40%;
}

.subtitle {
  position: relative;
  letter-spacing: 1px;
  font-size: 36px;
  font-weight: 700;
  width: fit-content;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;

    background: $color-bronze;

    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
