.root {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 20px;

  font-size: 20px;
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 0px 0px 5px 3px $color-blue;
}

.price {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: $color-bronze;
}

.clauses {
  gap: 40px;
  font-size: 20px;
}
