.root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: #777;
}

.item {
  width: 600px;
  height: 500px;
}
