.root {
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  height: 40px;
}

.close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2%;
  right: 1%;
  z-index: 1000;
  cursor: pointer;
}

.img {
  object-fit: contain;
}

.swiper {
  height: 100%;
}

.mainContainer {
  height: 80%;
}

.thumbsContainer {
  position: relative;
  height: 20%;
}

.thumb {
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: translateY(10px);

  &:hover {
    transform: translateY(0);
    opacity: 0.8;
  }
}
