.root {
  width: 50px;
  height: 40px;
}

.btn {
  width: 100%;
  height: 100%;
  background-image: url(../../../icons/telegram.svg),
    url(../../../icons/whatsapp.svg), url(../../../icons/viber.svg);
  background-size: 25px;
  background-position: center bottom, right top, top left;
  background-repeat: no-repeat;

  transition: all 0.2s linear;
}

.btn:hover {
  background-position: top left, center bottom, right top;
}
