@import url(./vars.css);
@import url(./scrollbar.css);
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700'); */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Montserrat:wght@300;500;700');

@font-face {
  font-family: 'mavka';
  src: url('../fonts/mavka.otf');
  font-weight: normal;
  font-style: normal;
}

.icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s linear;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
*,
*::before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 18px;
  color: var(--color-white);
  background-color: var(--color-darkblue);
}

input,
button,
textarea {
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  background: inherit;
}
input::placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a:focus,
a:active {
  outline: none;
}
a,
a:visited {
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  color: inherit;
  font-size: inherit;
}

img {
  pointer-events: none;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

dl,
dd {
  margin: 0;
}

@media (max-width: 990px) {
  body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
