:root {
  --header-height: 80px;
  --font-main: 'Montserrat', sans-serif;
  --font-nice: mavka;
  /* --font-nice: 'Caveat'; */

  --color-lightblue: hsl(215, 30%, 40%);
  --color-lightblue2: hsl(215, 50%, 60%);
  --color-blue: hsl(215, 30%, 30%);
  --color-headerblue: hsl(218, 31%, 15%);

  --color-darkblue: hsl(215, 30%, 22%);
  --color-darkblue2: hsl(215, 30%, 17%);
  --color-darkblue3: hsl(215, 30%, 12%);
  --color-darkblue4: hsl(215, 30%, 7%);

  --color-sand: hsl(36, 32%, 91%);
  --color-bronze: hsl(44, 40%, 68%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey: hsl(0, 0%, 80%);

  --gradient1-3: linear-gradient(to bottom, $color-darkblue, $color-darkblue3);
  --gradient2-3: linear-gradient(to bottom, $color-darkblue2, $color-darkblue3);

  --text-shadow: $color-darkblue3 3px 2px 3px;
  --text-shadow-white: var(--color-white) 2px 2px 3px;
}
