.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 30px;

  transition: all 0.4s ease-out;

  background-color: $color-headerblue;
}

.hide {
  top: -80px;
}

.show {
  top: 0;
}

.info {
  display: flex;
  align-items: center;
  gap: 12px;
  text-align: right;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-family: $font-nice;
  font-size: 18px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 14px;
  font-weight: 300;
}

.logo {
  width: 60px;
  height: 60px;
}
