.root {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
  color: var(--color-darkblue4);
}

.root::after {
  content: '';
  height: 18px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: url(../../icons/rope.png) center repeat-x;
}

.blueSection {
  color: var(--color-white);
  background-color: var(--color-darkblue);
}

.title {
  position: relative;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 20px 0;
  grid-gap: 50px;

  font-family: var(--font-nice);
  font-weight: 500;
  font-size: 34px;
  text-align: center;
  letter-spacing: 1px;
}

.title::after,
.title::before {
  content: ' ';
  display: block;
  border-bottom: 2px solid var(--color-bronze);
  border-radius: 2px;
  background-color: var();
}
