.root {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
  gap: 80px;

  color: $color-darkblue4;

  @include rope;
}

.blueSection {
  color: var(--color-white);
  background-color: $color-darkblue;
}

.title {
  position: relative;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 20px 0;

  font-family: $font-nice;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;

  &::after,
  &::before {
    content: ' ';
    display: block;
    border-bottom: 2px solid $color-bronze;
    border-radius: 2px;
  }
}

@media (max-width: 990px) {
  .root {
    gap: 60px;
    padding: 40px 20px 60px;
  }
}
