.root {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 20px;
  width: 100%;
  max-width: 600px;

  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 3px $color-blue;
  @include bg-gradient2-3;
}

.price {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: $color-bronze;
}

.clauses {
  gap: 40px;
  font-size: 20px;
}

// @media (max-width: 1200px) {
//   .clauses {
//     font-size: 18px;
//   }
//   .price {
//     font-size: 27px;
//   }
// }

// @media (max-width: 990px) {
//   .clauses {
//     font-size: 14px;
//   }
//   .price {
//     font-size: 25px;
//   }
// }
