.root {
  position: relative;
  height: calc(100vh - var(--header-height) + 18px);
  width: 100%;
  z-index: 100;
}

.root::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: hsla(215, 30%, 2%, 0.7);
}

.root::after {
  content: '';
  height: 18px;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: url(../rope.png) center repeat-x;
}

.anchor {
  width: auto;
  height: 260px;
  object-fit: contain;
  position: absolute;
  bottom: -4%;
  right: 50px;
  z-index: 1000;

  transition: all 1s ease-in-out;
  transform: translateX(calc(100% + 50px));
}

.animated {
  transform: translateX(0);
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;
  text-shadow: var(--text-shadow);
}

.title {
  display: inline-block;
  margin-bottom: 44px;
  animation: fade 4s;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  color: $color-bronze;
}

.title::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--color-bronze);
}

.slogan {
  animation: fade 2s;
  font-weight: 500;
  font-family: var(--font-nice);
  font-size: 60px;
}

.subtitle {
  animation: fade 4s;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 300;
  font-style: italic;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
